@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body{
    background-color: black;
}


.btn-outline-warning{
    color:#FC6E51;
    border-color: #FC6E51;
}

.btn-outline-warning:hover{
transform: scale(1.2); 
background-color: #FC6E51;
color:rgb(32, 31, 31);
border-color:#FC6E51 ;
}

/*Section Team_area*/

.section_team_area{
    background-color: rgba(0, 0,0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
 }

 .default .section_title,
.default .section_desc{
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;  /*Negrito*/
      margin: 10px;;
}

.section_desc:hover{
    color: #ccc;
}

.section_Team {
    overflow: hidden; /*remove a area desperdiçada*/
    max-width: 880px;
    margin:auto;
 }

 .section_Team .sliders{
    width:1000vw;
    height:100%;
    max-width: 880px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    
  }
  
  .section_Team .slide{
   width:370px;
   height: 280px;
   min-height: 250px;
   display: inline-block;
   background-color:#fff;
   margin-right: 20px;
   margin-bottom: 100px;
   margin-top: 0px;
   justify-content: center;
   
  
 
  }
  .section_Team .slide_area{
      display:flex;
      flex-direction: column;
      width:100%;
      min-height: 100%;
      align-items: center;
     justify-content: center;
     color: #000;
     padding: 20px;
  }



  .section_Team_area .slide_pointers{
    width:100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .slide_pointers{
    width:100vw;
    height: 20px;
    position:absolute; /*vai ficar independente da area*/
    margin-top:-300px;    /*sube o conteudo para o meio do banner*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_Team_area .pointer{
    width: 15px;
    height: 15px;
    border:2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor:pointer;  /*Este cursor é para adcionar o efeito de maozinha ao passar o mouse por cima do (pointer)*/
}
.section_Team_area .pointer.active {
    background-color:#b28756;    /*preenchendo a primeira bolinha*/
}


.sliders{
    width:1000vw;
    height:100%;
  }

  .banner .slide{
    width:100vw;
    height:100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);  /*para colocar um fundo 'preto' transparente no banner   */
    display: inline-block;
   }

   .section_Team .slide{
    width:370px;
    height: 280px;
    min-height: 250px;
    display: inline-block;
    background-color:#fff;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: 0px;
    justify-content: center;
  
   }
   .banner .slide_area{
    display:flex;
    flex-direction: column;
    width:100%;
    min-height: 100%;
    color:#fff;
   align-items: center;
   justify-content: center;
}
.Section-team--avatar{
    width: 100px;
    height: auto;

}
.Section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
    margin-left:28px;
  }

  .Section-team--role{
    font-size: 14px;
    color:#999;
    margin-top: 10px;

}
.Section-team--social{
    display: flex; /*para que os itens abaixo fiquem organizados lado a lado certinho.*/
    margin-top:10px;
    
}
.Section-team--social a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 10px;  /*a f a s t a os itens*/

}
.Section-team--social a:hover{
    background-color:#ccc;
}